.App {
  text-align: center;
}

.btn {
  width: fit-content;
  color: whitesmoke;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

span {
  margin: 5px 0;
  font-size: 0.7rem;
}
.hero {
  background-image: url("https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg?w=2000");
  width: 100vw;
  height: 15vh;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px auto;
  gap: 20px;
}

.cards>div {
  background-color: rgb(210, 206, 206);
  padding-bottom: 10px;
}

img {
  width: 100%;
}