form {
  width: 500px;
  padding: 50px;
  margin: 50px;
}


input {
  background-color: rgb(229, 229, 229);
  border: none;
  border-radius: 5px;
  flex-grow: 2;
  margin: 20px auto;
  padding: 5px;
}

h4 {
  display: block;
}

button {
  background-color: rgb(179, 62, 62);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 1rem;
  margin: 20px auto;
}

select {
  flex: 2;
  background-color: rgb(229, 229, 229);
  border: none;
  border-radius: 5px;
}

.x {
  display: flex;
  gap: 40px;
}

.check {
  margin-left: 5px;
  margin-right: 50px;
}

.lbl {
  text-align: start;
  padding: 20px;
}


